.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.progressbar {
    height: 20px;
    position: relative;
    background: #555;
    padding: 0;
    margin-top: -4px;
}

    .progressbar > span {
        display: block;
        height: 100%;
        background-color: rgb(81 128 190);
        position: relative;
        overflow: hidden;
    }



#progress-text {
    font-size: 10pt;
    text-align: center;
    color: white;
}